body {
    overflow-x: hidden;
    background-color: rgb(247, 247, 247);
    padding-top: 100px;
    font-family: Poppins;
}

/* scroll bar */
/* For WebKit browsers (like Chrome, Safari) */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #4CAF50; /* Change the color to your preference */
}

::-webkit-scrollbar-track {
    background-color: rgb(247, 247, 247); /* Change the color to your preference */
}


#navbar {
    background-image: linear-gradient(to bottom, #c4c4c4, rgba(29, 211, 102, 0));
    height: 75px;
  }


.btn-green {
    background-color: #1dd366;
}

.w-30 {
    width: 30%;

}

/* Add rounded corners to the main container */
.rounded {
    border-radius: 15px!important;
    overflow: hidden; 
}

.nav-link.active{
    font-weight: bold;
}

.cursor-pointer{
    cursor: pointer;
}

.bg-white {
    background-color: white!important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: rgb(247, 247, 247);
    border: none;
    font-size:medium;
    border-bottom: 4px solid #1dd366;
}

.nav-tabs {
    border-bottom: none;
}

.artist-thumbnail {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 3%;
}